@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
* {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

body {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300;
  margin: 0;
  font-size: 14px;
  background: url("../gfx/sv.jpg") no-repeat fixed center;
  background-size: cover; }

#application {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

#logo h2 {
  font-weight: 600;
  display: inline-block; }

hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important; }

a {
  text-decoration: none; }

.autocomplete {
  display: inline-block !important;
  width: 90% !important;
  left: 15px !important; }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background: #243b57;
  color: #ffffff; }

.container {
  width: 730px !important;
  background: url("../gfx/sv_box.jpg") no-repeat center;
  background-size: 100vw auto;
  border-radius: 7px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.25);
  padding: 20px; }

.clear {
  clear: both; }

#error {
  text-align: center;
  padding: 25px;
  color: #777; }
  #error h2 {
    color: #690000; }

.tabs {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .tabs li {
    float: left;
    width: 33%;
    text-align: center; }
    .tabs li a {
      display: block;
      padding: 10px 0;
      text-decoration: none;
      font-weight: 600; }
      .tabs li a span {
        display: block;
        text-align: center;
        font-size: 30px;
        line-height: 150%; }
  .tabs li.active a {
    background: rgba(255, 255, 255, 0.65); }

.route {
  padding: 10px;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  .route ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }

.ng-enter, .ng-hide-remove {
  transition: all 1s;
  height: 0 !important;
  opacity: 0 !important; }

.ng-enter-active, .ng-hide-remove-active {
  transition: all 1s;
  height: auto !important;
  opacity: 1 !important; }

.ng-leave-active {
  transition: none;
  height: 0 !important;
  opacity: 0 !important; }

.ng-hide, .ng-hide-add, .ng-hide-add-active {
  transition: none; }
