<div id="application" ng-class="containerClass" ng-animate-children>
    <div class="container">

        <div class="text-center">
            <small class="text-uppercase">Årets Reseplanerare 2k15</small>
        </div>

        <hr />

        <div id="logo">
            <div class="row">
                <div class="col-md-5 text-right">
                    <h2>För Sverige</h2>
                </div>
                <div class="col-md-2">
                    <img src="/assets/gfx/logo.png" width="100" />
                </div>
                <div class="col-md-5 text-left">
                    <h2>i tid<span style="font-weight: 300">(en)</span></h2>
                </div>
            </div>
        </div>

        <hr />

        <div id="nodeSelector">
            <div class="row form-inline">
                <div class="col-md-5">
                    <div class="form-group form-group-lg">
                        <div class="input-group">
                            <div class="input-group-addon">Från:</div>
                            <input type="text" class="form-control" id="from" ng-model="fromStation"
                                   ng-change="getLocationFrom(fromStation)" placeholder="Hållplats" />
                        </div>
                        <div ng-show="listVisibleFrom">
                            <ul class="dropdown-menu autocomplete">
                                <li ng-repeat="item in list.response">
                                    <a ng-click="setFrom(item)" href="#">{{ item.name }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group form-group-lg">
                        <div class="input-group">
                            <div class="input-group-addon">Till:</div>
                            <input type="text" class="form-control" id="to" ng-model="toStation"
                                   ng-change="getLocationTo(toStation)" placeholder="Hållplats" />
                        </div>
                        <div ng-show="listVisibleTo">
                            <ul class="dropdown-menu autocomplete">
                                <li ng-repeat="item in list.response">
                                    <a ng-click="setTo(item)" href="#">{{ item.name }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group form-group-lg">
                        <button type="submit" ng-click="performSearch()" class="btn btn-lg btn-primary">Sök</button>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div ng-show="resultsAvailable">
            <ul class="tabs">
                <li ng-class="{active: showRouteType == 'TIME'}">
                    <a href="#" ng-click="showRouteType = 'TIME';">
                        <span class="glyphicon glyphicon-time"></span> Snabbast resa
                    </a>
                </li>
                <li ng-class="{active: showRouteType == 'COST'}">
                    <a href="#" ng-click="showRouteType = 'COST';">
                        <span class="glyphicon glyphicon-usd"></span> Lägst kostnad
                    </a>
                </li>
                <li ng-class="{active: showRouteType == 'ENVIRONMENT'}">
                    <a href="#" ng-click="showRouteType = 'ENVIRONMENT';">
                        <span class="glyphicon glyphicon-leaf"></span> Bästa miljöval
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
            <div ng-repeat="(routeType, routeData) in results.response">
                <div ng-show="showRouteType == routeType" class="route">
                    <ul>
                        <li ng-repeat="item in routeData">
                            <div class="instructions">
                                <p class="from">Från {{ item.from.name }}:</p>
                                <p class="to">
                                    Ta <strong>{{ item.name }}</strong> till <strong>{{ item.to.name }}</strong>
                                </p>
                            </div>
                            <div class="meta">
                                <ul>
                                    <li>
                                        <span class="glyphicon glyphicon-time"></span> &nbsp;
                                        {{ item.time }} minuter
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-usd"></span> &nbsp;
                                        {{ item.cost }} SEK exkl. moms
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-leaf"></span> &nbsp;
                                        {{ item.environment }} g CO<sub>2</sub>
                                    </li>
                                    <li class="clear"></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <div class="provider">
                                <p class="provider-name">Om {{ item.provider.name }}:</p>
                                <div class="provider-body">
                                    <p class="provider-description">{{ item.provider.description }}</p>
                                </div>
                                <div class="provider-meta">
                                    <ul>
                                        <li ng-class="getCostClass(item.provider.time)" class="text-right">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </li>
                                        <li ng-class="getCostClass(item.provider.cost)" class="text-center">
                                            <span class="glyphicon glyphicon-usd"></span>
                                        </li>
                                        <li ng-class="getCostClass(item.provider.environment)" class="text-left">
                                            <span class="glyphicon glyphicon-leaf"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="error" class="align-center" ng-show="errorAvailable">
            <h2><span class="glyphicon glyphicon-remove"></span></h2>
            <h4>{{ errorMsg }}</h4>
        </div>

        <div class="clear"></div>
    </div>
</div>